<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}Helsinki Bachateando ry</title>
  <link rel="stylesheet" href="/assets/pico.min.css?v={{ get_hash(path='static/assets/pico.min.css', sha_type=256) | slugify }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon-192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180.png">
  <link rel="apple-touch-icon" sizes="360x360" href="/assets/apple-icon-360.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="google" value="notranslate">
  <meta name="format-detection" content="telephone=no">
  {% block head %}{% endblock head %}
</head>

{% block body %}{% endblock body %}
