{% extends "_content.html" %}

{% block head %}
<meta name="robots" content="noindex">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/forms-min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/buttons-min.css" crossorigin="anonymous">

<style type="text/css">
.control-group {
  margin: 20px 0;
}
</style>

<script type="text/javascript">
function handleSelectOther(element) {
  if (element.value === 'Other...') {
    element.outerHTML = `<input type="text" id="${element.id}" name="${element.name}" xrequired />`;
    document.getElementById(element.id).focus();
  }
}

window.addEventListener('load', () => {
  const form = document.getElementById('form');
  form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const result = await fetch('/api/event', {
      method: 'POST',
      body: new URLSearchParams(new FormData(form)),
    });
  });
});
</script>
{% endblock head %}

{% block content %}
<form class="pure-form pure-form-stacked" id="form" autocomplete="off" method="POST" action="/api/event">
  <fieldset>
    <div class="control-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" xrequired />
    </div>

    <div class="control-group">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" xrequired />
    </div>

    <div class="control-group">
      <label for="start">Start Time</label>
      <input type="time" id="start" name="start" xrequired />
    </div>

    <div class="control-group">
      <label for="end">End Time</label>
      <input type="time" id="end" name="end" xrequired />
    </div>

    <div class="control-group">
      <label for="price">Door Price</label>
      <input type="number" id="price" name="price" min="0" max="50" style="width: 80px;" />
    </div>

    <div class="control-group">
      <label for="organizer">Organizer</label>
      <select id="organizer" name="organizer" onchange="handleSelectOther(this)" xrequired>
        <option style="display: none;"></option>
        <option>Avec</option>
        <option>Bachata Studio</option>
        <option>Bongos</option>
        <option>Helsinki SBK</option>
        <option>I Dance</option>
        <option>Late</option>
        <option>Petra</option>
        <option>Sabor</option>
        <option>Salsa Studio</option>
        <option>Still Dancing</option>
        <option>Urbankiz Helsinki</option>
        <option>Vrajim</option>
        <option>Other...</option>
      </select>
    </div>

    <div class="control-group">
      <label for="location">Location</label>
      <select id="location" name="location" onchange="handleSelectOther(this)" xrequired>
        <option style="display: none;"></option>
        <option>Designmuseo</option>
        <option>Hietaniemi</option>
        <option>Kaisaniemi</option>
        <option>Kaivopuisto</option>
        <option>Kalasatama</option>
        <option>Kamppi</option>
        <option>Pitäjänmäki</option>
        <option>Pitäjänmäki</option>
        <option>Salmisaari</option>
        <option>Sörnäinen</option>
        <option>Tervasaari</option>
        <option>Vallila</option>
        <option>Other...</option>
      </select>
    </div>

    <div class="control-group">
      <label>Rooms</label>

      <label for="styles-b" class="pure-checkbox">
        <input type="checkbox" id="styles-b" name="styles-b" /> Bachata
      </label>

      <label for="styles-s" class="pure-checkbox">
        <input type="checkbox" id="styles-s" name="styles-s" /> Salsa
      </label>

      <label for="styles-k" class="pure-checkbox">
        <input type="checkbox" id="styles-k" name="styles-k" /> Kizomba
      </label>

      <label for="styles-u" class="pure-checkbox">
        <input type="checkbox" id="styles-u" name="styles-u" /> Urbankiz
      </label>

      <label for="styles-sbk" class="pure-checkbox">
        <input type="checkbox" id="styles-sbk" name="styles-sbk" /> SBK
      </label>

      <label for="styles-sb" class="pure-checkbox">
        <input type="checkbox" id="styles-sb" name="styles-sb" /> Salsa/Bachata
      </label>

      <label for="styles-bk" class="pure-checkbox">
        <input type="checkbox" id="styles-bk" name="styles-bk" /> Bachata/Kizomba
      </label>

      <label for="styles-bu" class="pure-checkbox">
        <input type="checkbox" id="styles-bu" name="styles-bu" /> Bachata/Urbankiz
      </label>
    </div>

    <div class="control-group">
      <label for="url">Facebook URL</label>
      <input type="url" id="url" name="url" pattern=".*facebook\.com\/event\/.*" xrequired />
    </div>

    <button type="submit" class="pure-button pure-button-primary">Submit event</button>
  </fieldset>
</form>
{% endblock content %}
