{% extends "_content.html" %}

{% block head %}
<style type="text/css">
.pass-container {
  display: inline-block;
  padding: 10px;
  width: 220px;
  margin-bottom: 8px;
  background-color: #101010;
  border: 2px solid #353535;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
}

.pass-container a {
  color: #ffe600;
}

.pass-text {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2px;
  text-align: center;
}

.dim {
  margin-left: 20px;
  opacity: 60%;
}

td:first-child {
  padding-right: 20px;
}

td:last-child {
  padding-left: 10px;
}
</style>
{% endblock head %}

{% block content %}

<p>Welcome to our bachata summer celebration festival in Helsinki, Finland from 4.7. - 7.7.2024

<p>🔗 Check out the <a href="https://www.facebook.com/events/1613232862752159" target="_blank">Facebook Event</a> for the latest information.

<p>🎟️ Tickets are available on <a href="https://www.goandance.com/en/events/6874-bachata-sauna-festival-2024">Go & Dance</a>.

<p>You can pay with credit/debit cards on Go & Dance. Want to pay with <b>Smartum</b>, <b>Epassi</b> or <b>Edenred</b>? Send us a message!

<h3>🙋‍♀️ Questions?</h3>

<p>Send us a message on <a href="https://www.instagram.com/helsbk">Instagram</a>

{% endblock content %}
