{% extends "_content.html" %}

{% block head %}
<style type="text/css">
body {
  max-width: 800px;
}
</style>
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
{% endblock head %}

{% block content %}

<stripe-pricing-table pricing-table-id="prctbl_1OMZ6CKf5X9X4vxkym9Y4VEP"
publishable-key="pk_live_51O8RphKf5X9X4vxkG1ZKj1nWzf0e7jl0a7JG2O7ah7Pgj3ElyrNwvZWucJDHDWb3ynzh6qD6hQKnmPatntiIZC0d004KJj1QP0">
</stripe-pricing-table>

<br><br><br>

<p style="color: #BBB; font-size: 80%;">The payment is for <a href="https://hbry.fi" target="_blank" style="color: #FFF;">Helsinki Bachateando ry</a>, a non-profit bachata association.
{% endblock content %}
