{% extends "_content.html" %}

{% block head %}
<style type="text/css">
.pass-container {
  display: inline-block;
  padding: 10px;
  width: 330px;
  margin-bottom: 8px;
  background-color: #0c0c0c;
  border: 2px solid #2c2c2c;
  font-size: 17px;
  color: #fff;
}

.pass-text {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2px;
  text-align: center;
}

.dim {
  margin-left: 20px;
  opacity: 60%;
}
</style>
{% endblock head %}

{% block content %}

<h2>Info</h2>

Check out the <a href="https://www.facebook.com/events/1247092909488236" target="_blank">Facebook Event</a> for the latest information.

<h2>Bachata Room Ticket</h2>

<p>This pass lets you dance in the bachata room (not urbankiz room).</p>

<div class="pass-container">
  <div class="pass-text">Saturday Party (Bachata Only)</div>
  <div class="pass-text"><span class="dim">Door price 20€</span></div>
</div>

<h2>Two Room Ticket</h2>

<p>This pass lets you dance in both the bachata room and urbankiz room.</p>

<div class="pass-container">
  <div class="pass-text">Saturday Party (All Rooms)</div>
  <div class="pass-text"><span class="dim">Door price 25€</span></div>
</div>

<br>

<div class="pass-container">
  <div class="pass-text">Sunday Party (All Rooms)</div>
  <div class="pass-text"><a href="https://buy.stripe.com/8wMbJE8VM1xqcxiaF2"><b>Buy for 7.50€ →</b></a> <span class="dim">Door price 7.50€</span></div>
</div>

<h2>Urbankiz Couple Ticket</h2>

<div class="pass-container">
  <div class="pass-text">Urbankiz Saturday Party - Couple</div>
  <div class="pass-text"><span class="dim">Door price 50€</span></div>
</div>

<h2 id="schedule">Schedule</h2>

<svg fill="none" style="max-width: 450px" viewBox="0 0 524 1322" fill="none" xmlns="http://www.w3.org/2000/svg">
<text fill="#FFE600" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="26.4151" font-weight="600" letter-spacing="0em"><tspan x="1" y="25.6055">13.1. Saturday</tspan></text>
<rect x="266" y="85" width="255" height="50" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="308.733" y="106.878">11</tspan><tspan x="330.889" y="106.878">45</tspan><tspan x="370.013" y="106.878">Tarraxo intro</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="334.364" y="125.746">Axel &#38; Victoria</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="325.719" y="106.878">:</tspan><tspan x="353.842" y="106.878"> - </tspan><tspan x="467.621" y="106.878">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" letter-spacing="0em"><tspan x="350.391" y="214.489">15min break</tspan></text>
<rect x="266" y="145" width="255" height="50" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="329.313" y="166.878">12</tspan><tspan x="353.909" y="166.878">45</tspan><tspan x="393.034" y="166.878">Tarraxo</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="334.364" y="185.746">Axel &#38; Victoria</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="348.739" y="166.878">:</tspan><tspan x="376.862" y="166.878"> - </tspan><tspan x="447.042" y="166.878">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" letter-spacing="0em"><tspan x="84.0106" y="438.489">Dinner break</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" letter-spacing="0em"><tspan x="88.9688" y="291.489">30min break</tspan></text>
<rect x="1" y="302" width="255" height="50" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="61.7868" y="323.878">15</tspan><tspan x="86.6379" y="323.878">45</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="65.3975" y="342.746">Masa &#38; Jessica</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="81.4677" y="323.878">:</tspan><tspan x="109.59" y="323.878"> - Bachata&#x2028;</tspan></text>
<rect x="2" y="362" width="255" height="50" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="62.6512" y="383.878">16</tspan><tspan x="87.7735" y="383.878">45</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="66.3975" y="402.746">Masa &#38; Jessica</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="82.6033" y="383.878">:</tspan><tspan x="110.726" y="383.878"> - Bachata&#x2028;</tspan></text>
<rect x="2" y="220" width="255" height="50" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="62.2782" y="241.878">14</tspan><tspan x="87.7057" y="241.878">30</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="91.4859" y="260.746">Xi &#38; Alina</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="82.5354" y="241.878">:</tspan><tspan x="111.099" y="241.878"> - Bachata&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" font-weight="600" letter-spacing="0em"><tspan x="99.3948" y="71.4889">ROOM 1</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" font-weight="600" letter-spacing="0em"><tspan x="364" y="71.4889">ROOM 2</tspan></text>
<rect x="1" y="515" width="255" height="50" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="57.9472" y="536.878">19</tspan><tspan x="83.0696" y="536.878">30</tspan><tspan x="122.635" y="536.878">Urbankiz</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="63.2701" y="555.746">Anne &#38; Baptiste</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="77.8993" y="536.878">:</tspan><tspan x="106.463" y="536.878"> - </tspan><tspan x="189.136" y="536.878">&#x2028;</tspan></text>
<rect x="1" y="455" width="255" height="50" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="63.821" y="476.878">18</tspan><tspan x="88.9603" y="476.878">30</tspan><tspan x="128.525" y="476.878">Tarraxo</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="69.3642" y="495.746">Axel &#38; Victoria</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="83.79" y="476.878">:</tspan><tspan x="112.354" y="476.878"> - </tspan><tspan x="182.533" y="476.878">&#x2028;</tspan></text>
<rect x="266" y="634" width="255" height="216" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="335.186" y="738.878">21</tspan><tspan x="359.783" y="738.878">30</tspan><tspan x="399.348" y="738.878">03:00</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="334.042" y="757.746">Bachata </tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="354.613" y="738.878">:</tspan><tspan x="383.176" y="738.878"> - </tspan><tspan x="439.863" y="738.878">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="405.815" y="757.746">social</tspan></text>
<rect x="1" y="575" width="255" height="276" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="68.4573" y="709.878">20</tspan><tspan x="96.5122" y="709.878">30</tspan><tspan x="136.077" y="709.878">03:00</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="65.9908" y="728.746">Urbankiz </tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="91.342" y="709.878">:</tspan><tspan x="119.906" y="709.878"> - </tspan><tspan x="176.592" y="709.878">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="143.867" y="728.746">social</tspan></text>
<rect x="267" y="575" width="255" height="50" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="325.964" y="596.878">20</tspan><tspan x="354.019" y="596.878">30</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="356.486" y="615.746">Xi &#38; Alina</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="348.849" y="596.878">:</tspan><tspan x="377.413" y="596.878"> - Bachata&#x2028;</tspan></text>
<text fill="#FFE600" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="26.4151" font-weight="600" letter-spacing="0em"><tspan x="3" y="905.605">14.1. Sunday</tspan></text>
<rect x="3" y="1163" width="255" height="158" fill="#002438" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="72.7881" y="1238.88">17</tspan><tspan x="96.1814" y="1238.88">00</tspan><tspan x="136.255" y="1238.88">20:00</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="91.0111" y="1238.88">:</tspan><tspan x="120.083" y="1238.88"> - </tspan><tspan x="176.261" y="1238.88">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="56.4128" y="1257.75">Zouk social (HDC)</tspan></text>
<rect x="3" y="1038" width="255" height="47" fill="#002438" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="59.2437" y="1058.38">14</tspan><tspan x="84.6712" y="1058.38">45</tspan><tspan x="123.796" y="1058.38">Lambada</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="79.501" y="1058.38">:</tspan><tspan x="107.624" y="1058.38"> - </tspan><tspan x="191.687" y="1058.38">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="43.4194" y="1077.25">S&#xf6;ren &#38; Noora (HDC)</tspan></text>
<rect x="3" y="1094" width="255" height="47" fill="#002438" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="38.0457" y="1114.38">15</tspan><tspan x="62.8968" y="1114.38">30</tspan><tspan x="102.462" y="1114.38">Brazilian Zouk</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="57.7266" y="1114.38">:</tspan><tspan x="86.2901" y="1114.38"> - </tspan><tspan x="212.851" y="1114.38">&#x2028;</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="25.137" y="1133.25">Freddy &#38; Andressa (HDC)</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" font-weight="600" letter-spacing="0em"><tspan x="101" y="951.489">ROOM 1</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="15.0943" font-weight="600" letter-spacing="0em"><tspan x="366" y="951.489">ROOM 2</tspan></text>
<rect x="268" y="965" width="255" height="50" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="328.439" y="986.878">13</tspan><tspan x="353.545" y="986.878">30</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="332.397" y="1005.75">Masa &#38; Jessica</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="348.374" y="986.878">:</tspan><tspan x="376.938" y="986.878"> - Bachata&#x2028;</tspan></text>
<rect x="268" y="1025" width="255" height="116" fill="#383300" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="338.746" y="1079.88">14</tspan><tspan x="364.173" y="1079.88">30 - 16:30</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="318.658" y="1098.75">Bachata day social</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="359.003" y="1079.88">:</tspan><tspan x="440.303" y="1079.88">&#x2028;</tspan></text>
<rect x="268" y="1151" width="255" height="50" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="324.947" y="1172.88">16</tspan><tspan x="350.07" y="1172.88">30</tspan><tspan x="389.635" y="1172.88">Urbankiz</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="330.27" y="1191.75">Anne &#38; Baptiste</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="344.899" y="1172.88">:</tspan><tspan x="373.463" y="1172.88"> - </tspan><tspan x="456.136" y="1172.88">&#x2028;</tspan></text>
<rect x="268" y="1209" width="255" height="71" fill="#0F3800" fill-opacity="0.95" stroke="white" stroke-opacity="0.24" stroke-width="2"/>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="339.509" y="1241.38">17</tspan><tspan x="362.902" y="1241.38">30</tspan><tspan x="402.467" y="1241.38">19:00</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" letter-spacing="0em"><tspan x="332.991" y="1260.25">Urbankiz social</tspan></text>
<text fill="white" xml:space="preserve" style="white-space: pre" font-family="Inter" font-size="17.3585" font-weight="600" letter-spacing="0em"><tspan x="357.732" y="1241.38">:</tspan><tspan x="386.295" y="1241.38"> - </tspan><tspan x="439.54" y="1241.38">&#x2028;</tspan></text>
</svg>

{% endblock content %}
