<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css?v={{ get_hash(path='static/assets/style.css', sha_type=256) | slugify }}">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon-192.png">
  <link rel="apple-touch-icon" href="/assets/icon-2x.png" />
  {% block head %}{% endblock head %}
</head>
<body>
  <a href="/"><img src="/assets/helsbk.svg?v={{ get_hash(path='static/assets/helsbk.svg', sha_type=256) | slugify }}" height="37" alt="HEL SBK (logo)"></a>
  {% block content %}{% endblock content %}
</body>
</html>
