{% extends "_content.html" %}

{% block head %}
<style type="text/css">
#options div {
  padding-bottom: 10px;
}
</style>
<script type="text/javascript">
function handleMobilePayClick() {
  const payment = document.getElementById('payment');
  payment.innerHTML = `
<h3 style="user-select: text;">MobilePay number: 0402403791</h3>

<br>`
}

function handlePayPalClick() {
  if (confirm('Please select "payment for friends and family" instead of "products and services" when you get to the PayPal payment page. OK?')) {
    window.open('https://www.paypal.me/helsinkibachateando/', '_blank');
  }
}
</script>
{% endblock head %}

{% block content %}
<p>Helsinki SBK outdoor events are free, but you can help us cover the equipment and permit expenses by purchasing an optional ticket for the sum of your choice (we suggest something between 5€ - 20€). Thank you! ❤️

<div id="payment">
<p>
  <a onclick="handleMobilePayClick()"><img src="assets/mobilepay.svg?v={{ get_hash(path='static/assets/mobilepay.svg', sha_type=256) | slugify }}"></a>&nbsp;
  <a href="https://store.hbry.fi/product/outdoor-bachata-ticket-for-summer-2023" target="_blank"><img src="assets/visa.svg?v={{ get_hash(path='static/assets/visa.svg', sha_type=256) | slugify }}"></a>&nbsp;
  <a onclick="handlePayPalClick()"><img src="assets/paypal.svg?v={{ get_hash(path='static/assets/paypal.svg', sha_type=256) | slugify }}"></a>
</div>

<p style="color: #BBB; font-size: 80%;">The payment is for <a href="https://hbry.fi" target="_blank" style="color: #FFF;">Helsinki Bachateando ry</a>, a non-profit bachata association.
{% endblock content %}
