{% extends "_content.html" %}

{% block head %}
<script type="text/javascript">
(function () {
  // Reload in 12 hours.
  const loadTime = Date.now();
  document.addEventListener('visibilitychange', () => {
    if (document.visibilityState === 'visible') {
      const HOUR_MS = 60 * 60 * 1000;
      if (Date.now() > (loadTime + (HOUR_MS * 12))) {
        if (window.top) {
          window.top.location.reload();
        } else {
          location.reload();
        }
      }
    }
  });
})();
</script>
{% endblock head %}

{% block content %}
<!--events-begin-->
<a href="https://www.facebook.com/events/6882451225209884" target="_blank" class="event-container">
  <div class="event-title"><b>Fri 5.1.</b> 20:00 - 01:30</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Sörnäinen, 8€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
    <div class="k">urbankiz</div>
  </div>
</a>

<a href="https://www.facebook.com/events/7198908230152690" target="_blank" class="event-container">
  <div class="event-title"><b>Mon 8.1.</b> 20:15 - 23:00</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Sörnäinen, 4€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/events/1247092909488236" target="_blank" class="event-container">
  <div class="event-title"><b>Fri 12.1.</b> 21:30 - 02:00</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Sörnäinen, 20€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
    <div class="k">urbankiz</div>
  </div>
</a>

<a href="https://www.facebook.com/events/1247092909488236" target="_blank" class="event-container">
  <div class="event-title"><b>Sat 13.1.</b> 21:30 - 03:00</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Sörnäinen, 22.5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
    <div class="k">urbankiz</div>
  </div>
</a>

<a href="https://www.facebook.com/events/1247092909488236" target="_blank" class="event-container">
  <div class="event-title"><b>Sun 14.1.</b> 14:30 - 19:00</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Sörnäinen, 7.5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
    <div class="k">urbankiz</div>
  </div>
</a>
<!--events-end-->

{% endblock content %}
