{% extends "_content.html" %}

{% block head %}
<script type="text/javascript">
(function () {
  // Reload in 12 hours.
  const loadTime = Date.now();
  document.addEventListener('visibilitychange', () => {
    if (document.visibilityState === 'visible') {
      const HOUR_MS = 60 * 60 * 1000;
      if (Date.now() > (loadTime + (HOUR_MS * 12))) {
        if (window.top) {
          window.top.location.reload();
        } else {
          location.reload();
        }
      }
    }
  });
})();
</script>
{% endblock head %}

{% block content %}
<!--events-begin-->
<a href="https://www.facebook.com/events/1027676548510295" target="_blank" class="event-container">
  <div class="event-title"><b>Thu 7.12.</b> 21:00 - 23:30</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Salmisaari, 5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>
<!--events-end-->

{% endblock content %}
