{% extends "_content.html" %}

{% block head %}
<script type="text/javascript">
(function () {
  // Reload in 12 hours.
  const loadTime = Date.now();
  document.addEventListener('visibilitychange', () => {
    if (document.visibilityState === 'visible') {
      const HOUR_MS = 60 * 60 * 1000;
      if (Date.now() > (loadTime + (HOUR_MS * 12))) {
        if (window.top) {
          window.top.location.reload();
        } else {
          location.reload();
        }
      }
    }
  });
})();
</script>
{% endblock head %}

{% block content %}
<!--events-begin-->
<a href="https://www.facebook.com/events/904934887247458" target="_blank" class="event-container">
  <div class="event-title"><b>Tue 28.11.</b> 20:00 - 23:30</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Salmisaari, 5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/events/1712985939192010" target="_blank" class="event-container">
  <div class="event-title"><b>Thu 30.11.</b> 20:30 - 23:30</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Salmisaari, 5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/events/1029022864816677" target="_blank" class="event-container">
  <div class="event-title"><b>Sat 2.12.</b> 20:30 - 02:00</div>
  <div class="event-location"><span class="event-organizer">Helsinki SBK</span>, Salmisaari, 5€</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>
<!--events-end-->

<div class="standalone-hidden">
  <br>

  <p style="color: #BBB;"><small>This page lists salsa, bachata, kizomba & urbankiz social dance events and parties in Helsinki from multiple different organizers. Listed time is for just the social, excluding possible pre-party classes. Listed price is for walk-in ticket at the door.</small>
</div>
{% endblock content %}
