{% extends "_content.html" %}


{% block head %}
<style type="text/css">
.event-location {
  line-height: 1.2;
}
</style>
{% endblock head %}

{% block content %}
<h4>About us</h4>

<p>Helsinki SBK organizes non-profit salsa, bachata, and kizomba social dance parties in Helsinki. We are offcially registered as a non-profit association called <a href="https://hbry.fi" target="_blank">Helsinki Bachateando ry</a>. Our mission is to enhance the dance scene in Helsinki and provide more opportunities for social dancing.

<h4>Event organizers</h4>

<p>We list events from several other organizers as well. In alphabetical order:</p>

<a href="https://avecdanceclub.com" target="_blank" class="event-container">
  <div class="event-title"><b>Avec</b></div>
  <div class="event-location"><span class="event-organizer">avecdanceclub.com</span></div>
  <div class="event-location">Dance school in Vallila</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
    <div class="salsa">salsa</div>
    <div class="kizomba">kizomba</div>
  </div>
</a>

<a href="https://www.azembora.com" target="_blank" class="event-container">
  <div class="event-title"><b>Azembora</b></div>
  <div class="event-location"><span class="event-organizer">azembora.com</span></div>
  <div class="event-location">Dance school in Sörnäinen</div>
  <div class="dance-styles">
    <div class="kizomba">kizomba</div>
    <div class="kizomba">urbankiz</div>
  </div>
</a>

<a href="https://bachatahelsinki.fi" target="_blank" class="event-container">
  <div class="event-title"><b>Bachata Helsinki / Bongos</b></div>
  <div class="event-location"><span class="event-organizer">bachatahelsinki.fi</span></div>
  <div class="event-location">Dance school in Sörnäinen</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
    <div class="salsa">salsa</div>
    <div class="kizomba">kizomba</div>
  </div>
</a>

<a href="https://www.bachatafinland.com" target="_blank" class="event-container">
  <div class="event-title"><b>Bachata Studio</b></div>
  <div class="event-location"><span class="event-organizer">bachatafinland.com</span></div>
  <div class="event-location">Dance school in Espoo</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/groups/278476390628404" target="_blank" class="event-container">
  <div class="event-title"><b>Late</b></div>
  <div class="event-location"><span class="event-organizer">Facebook group</span></div>
  <div class="event-location">Outdoor event organizer</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
    <div class="salsa">salsa</div>
  </div>
</a>

<a href="https://www.salsaborealis.fi" target="_blank" class="event-container">
  <div class="event-title"><b>Salsa Borealis</b></div>
  <div class="event-location"><span class="event-organizer">salsaborealis.fi</span></div>
  <div class="event-location">Non-profit association and event organizer</div>
  <div class="dance-styles">
    <div class="salsa">salsa</div>
  </div>
</a>

<a href="https://stilldancing.fi" target="_blank" class="event-container">
  <div class="event-title"><b>Still Dancing</b></div>
  <div class="event-location"><span class="event-organizer">stilldancing.fi</span></div>
  <div class="event-location">Dance school in Salmisaari & Vantaa</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
    <div class="salsa">salsa</div>
  </div>
</a>

<h4>Private event organizers</h4>

<p>The following organizers have private groups for members only so their events are not visible in our list. Find out more about their events in their Facebook groups:</p>

<a href="https://www.facebook.com/groups/1710462685876573" target="_blank" class="event-container">
  <div class="event-title"><b>Summer Outdoor Bachata</b></div>
  <div class="event-location"><span class="event-organizer">Private Facebook group</span></div>
  <div class="event-location">Bachata event organizer. Biggest bachata parties in Helsinki 🔥</div>
  <div class="dance-styles">
    <div class="bachata">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/groups/925264681474316" target="_blank" class="event-container">
  <div class="event-title"><b>Urbankiz Helsinki</b></div>
  <div class="event-location"><span class="event-organizer">Private Facebook group</span></div>
  <div class="event-location">Urbankiz event organizer</div>
  <div class="dance-styles">
    <div class="kizomba">urbankiz</div>
  </div>
</a>

<h4>About listed events</h4>

<p>The events list contains salsa, bachata, kizomba & urbankiz social dance events and parties in Helsinki from multiple different organizers.

<p>The listed time is for <b>just</b> the social, excluding possible pre-party classes. The listed price is for walk-in ticket at the door for just the social.

{% endblock content %}
