{% extends "_content.html" %}


{% block head %}
<style type="text/css">
.event-title, .event-location {
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  margin-top: 8px;
}
</style>
{% endblock head %}

{% block content %}
<h4>About us</h4>

<p>Helsinki SBK organizes non-profit salsa, bachata, and kizomba social dance parties in Helsinki. Our mission is to enhance the dance scene in Helsinki and provide more opportunities for social dancing.

<h4>Event organizers</h4>

<p>We list events from several other organizers as well. In alphabetical order:</p>

<a href="https://avecdanceclub.com" target="_blank" class="event-container">
  <div class="event-title">Avec<br><span class="event-organizer">avecdanceclub.com</span></div>
  <div class="event-location">Dance school in Vallila</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="b">bachata</div>
    <div class="k">kizomba</div>
  </div>
</a>

<a href="https://www.azembora.com" target="_blank" class="event-container">
  <div class="event-title">Azembora<br><span class="event-organizer">azembora.com</span></div>
  <div class="event-location">Dance school in Sörnäinen</div>
  <div class="dance-styles">
    <div class="k">kizomba</div>
    <div class="k">urbankiz</div>
  </div>
</a>

<a href="https://bachatahelsinki.fi" target="_blank" class="event-container">
  <div class="event-title">Bachata Helsinki / Bongos<br><span class="event-organizer">bachatahelsinki.fi</span></div>
  <div class="event-location">Dance school in Sörnäinen</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
    <div class="s">salsa</div>
    <div class="k">kizomba</div>
  </div>
</a>

<a href="https://www.bachatafinland.com" target="_blank" class="event-container">
  <div class="event-title">Bachata Studio<br><span class="event-organizer">bachatafinland.com</span></div>
  <div class="event-location">Dance school in Espoo</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://bailabaila.fi" target="_blank" class="event-container">
  <div class="event-title">Baila Baila<br><span class="event-organizer">bailabaila.fi</span></div>
  <div class="event-location">Dance school in Kamppi</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.helsinkisalsaacademy.com" target="_blank" class="event-container">
  <div class="event-title">Helsinki Salsa Academy<br><span class="event-organizer">helsinkisalsaacademy.com</span></div>
  <div class="event-location">Dance school in Konala, classes also in Kallio, Salmisaari & Vantaa</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/groups/278476390628404" target="_blank" class="event-container">
  <div class="event-title">Late<br><span class="event-organizer">Facebook group</span></div>
  <div class="event-location">Outdoor event organizer</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.salsaborealis.fi" target="_blank" class="event-container">
  <div class="event-title">Salsa Borealis<br><span class="event-organizer">salsaborealis.fi</span></div>
  <div class="event-location">Non-profit association and event organizer</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
  </div>
</a>

<a href="https://salsastudio.fi/helsinki" target="_blank" class="event-container">
  <div class="event-title">Salsa Studio<br><span class="event-organizer">salsastudio.fi</span></div>
  <div class="event-location">Dance school in Pitäjänmäki</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="k">kizomba</div>
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://stilldancing.fi" target="_blank" class="event-container">
  <div class="event-title">Still Dancing<br><span class="event-organizer">stilldancing.fi</span></div>
  <div class="event-location">Dance school in Salmisaari, classes also in Vantaa</div>
  <div class="dance-styles">
    <div class="s">salsa</div>
    <div class="b">bachata</div>
  </div>
</a>

<br>

<h4>Private event organizers</h4>

<p>The following organizers have private groups for members only so their events are not visible in our list. Find out more about their events in their Facebook groups:</p>

<a href="https://www.facebook.com/groups/1710462685876573" target="_blank" class="event-container">
  <div class="event-title">Summer Outdoor Bachata<br><span class="event-organizer">Private Facebook group</span></div>
  <div class="event-location">Bachata event organizer. Biggest bachata parties in Helsinki 🔥</div>
  <div class="dance-styles">
    <div class="b">bachata</div>
  </div>
</a>

<a href="https://www.facebook.com/groups/925264681474316" target="_blank" class="event-container">
  <div class="event-title">Urbankiz Helsinki<br><span class="event-organizer">Private Facebook group</span></div>
  <div class="event-location">Urbankiz event organizer</div>
  <div class="dance-styles">
    <div class="k">urbankiz</div>
  </div>
</a>

<br>

<h4>About listed events</h4>

<p>The events list contains salsa, bachata, kizomba & urbankiz social dance events and parties in Helsinki from multiple different organizers.

<p>The listed time is for <b>just</b> the social, excluding possible pre-party classes. The listed price is for walk-in ticket at the door for just the social.

{% endblock content %}
