{% extends "_content.html" %}

{% block head %}
<style type="text/css">
.pass-container {
  display: inline-block;
  padding: 10px;
  width: 250px;
  margin-bottom: 8px;
  background-color: #0c0c0c;
  border: 2px solid #2c2c2c;
  font-size: 17px;
  color: #fff
}

.pass-text {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 2px;
  text-align: center;
}

.dim {
  margin-left: 20px;
  opacity: 60%;
}
</style>
{% endblock head %}

{% block content %}

<p><b style="line-height: 140%;">BachaKiz Friday + Bachata Underground</b><br>
<i>with Juan García & Sara Avilés</i>

<p>Check out the <a href="https://www.facebook.com/events/1456747281543095" target="_blank">Facebook Event</a> for the latest information.

<h2>Full Pass</h2>

<p>Full pass includes 4h of workshops on Friday & Saturday evening and access to the Friday & Saturday parties.</p>

<div class="pass-container">
  <div class="pass-text">Couple Full Pass</div>
  <div class="pass-text"><a href="https://buy.stripe.com/dR6bJE7RI5NG2WI6ot"><b>Buy for 130€ →</b></a></div>
</div>

<br>

<div class="pass-container">
  <div class="pass-text">Leader Full Pass</div>
  <div class="pass-text"><a href="https://buy.stripe.com/dR6fZU6NEfog2WIaEO"><b>Buy for 70€ →</b></a></div>
</div>

<br>

<div class="pass-container">
  <div class="pass-text">Follower Full Pass</div>
  <div class="pass-text">SOLD OUT</div>
</div>

<h2>Party Pass</h2>

<p>You can buy the pass for the Friday party (bachata room + urbankiz room):

<div class="pass-container">
  <div class="pass-text">Friday Party</div>
  <div class="pass-text"><a href="https://pay.sumup.com/b2c/QCVRQMQX"><b>Buy for 12€ →</b></a></div>
</div>

<p>For the Saturday party (Bachata Underground), you can only pay at the door.

<h2>Masterclass Pass</h2>

<p>2 hour masterclass with Juan & Sara on Saturday.
<p><a href="https://forms.gle/dWthM4VwoTEWR4Rq9">More information & registration →</a>

{% endblock content %}
