{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
function handlePayPalClick() {
  if (confirm('Please select "payment for friends and family" instead of "products and services" when you get to the PayPal payment page. OK?')) {
    window.open('https://www.paypal.me/helsinkibachateando/5', '_blank');
  }
}
</script>
{% endblock head %}

{% block content %}
<p>Social entrance ticket: <b>5&euro;</b>

<div id="payment">
  <p>
  <a href="mobilepay://send?phone=0402403791&amount=5&comment=Social&lock=1"><img src="assets/mobilepay.svg?v={{ get_hash(path='static/assets/mobilepay.svg', sha_type=256) | slugify }}"></a>&nbsp;
  <a href="https://store.hbry.fi/product/social-dance-entrance-ticket" target="_blank"><img src="assets/visa.svg?v={{ get_hash(path='static/assets/visa.svg', sha_type=256) | slugify }}"></a>&nbsp;
  <a onclick="handlePayPalClick()"><img src="assets/paypal.svg?v={{ get_hash(path='static/assets/paypal.svg', sha_type=256) | slugify }}"></a>

  <p style="color: #BBB; font-size: 80%;">The payment is for <a href="https://hbry.fi" style="color: #FFF;">Helsinki Bachateando ry</a>, a non-profit bachata association.
</div>
{% endblock content %}
