{% extends "_content.html" %}

{% block head %}
<style type="text/css">
#options div {
  padding-bottom: 10px;
}
</style>
<script type="text/javascript">
function handleMobilePayClick() {
  navigator.clipboard.writeText('0402403791');
  location.href = 'mobilepay://';
}

function handleAppClick(service, app) {
  alert(`To pay with ${service}, open the ${app} app and search for "Helsinki SBK"`);
}

window.addEventListener('load', () => {
  document.getElementById('mobilepay-number').addEventListener('copy', () => {
    location.href = 'mobilepay://';
  }, { once: true });
});
</script>
{% endblock head %}

{% block content %}

<h3>10€ Social Entrance</h3>

<p style="font-size: 80%;">We suggest paying with MobilePay:

<p><img src="assets/mobilepay.svg?v={{ get_hash(path='static/assets/mobilepay.svg', sha_type=256) | slugify }}" height="50px" onclick="handleMobilePayClick()"> <span id="mobilepay-number" style="user-select: text; display: inline-block; vertical-align: middle; height: 60px;"><b>→ 0402403791</b></span>


<br><br>

<p style="font-size: 80%;">If you cannot use MobilePay, you can also pay with:

<p>
  <a href="https://buy.stripe.com/fZe3d8dc21xqdBm6or"><img src="assets/visa.svg?v={{ get_hash(path='static/assets/visa.svg', sha_type=256) | slugify }}" height="60px"></a>&nbsp;
  <a href="https://www.paypal.me/HelsinkiSBK/10" target="_blank"><img src="assets/paypal.svg?v={{ get_hash(path='static/assets/paypal.svg', sha_type=256) | slugify }}" height="60px"></a>&nbsp;
  <a href="https://myedenred.fi/affiliate-payment/42a3d20c-4a9d-43e6-aa2f-0db207503b88" target="_blank"><img src="assets/edenred.svg?v={{ get_hash(path='static/assets/edenred.svg', sha_type=256) | slugify }}" height="60px"></a>&nbsp;
  <a onclick="handleAppClick('ePassi', 'ePassi')"><img src="assets/epassi.svg?v={{ get_hash(path='static/assets/epassi.svg', sha_type=256) | slugify }}" height="60px"></a>&nbsp;
  <a onclick="handleAppClick('Smartum', 'SmartumPay')"><img src="assets/smartum.svg?v={{ get_hash(path='static/assets/smartum.svg', sha_type=256) | slugify }}" height="60px"></a>

<br><br>

<p style="color: #BBB; font-size: 80%;">The payment is for <a href="https://hbry.fi" target="_blank" style="color: #FFF;">Helsinki Bachateando ry</a>, a non-profit bachata association.
{% endblock content %}
