{% extends "_content.html" %}

{% block head %}
<style type="text/css">
#options div {
  padding-bottom: 10px;
}
</style>
{% endblock head %}

{% block content %}

<h3>MobilePay</h3>

<p style="user-select: text;">Send <b>6€</b> with MobilePay to: <b>0402403791</b></p>

<br>

<h3>Credit & Debit Cards</h3>

<p>
  <a href="https://buy.stripe.com/14kbJE8VMcc41SEeUW"><img src="assets/visa.svg?v={{ get_hash(path='static/assets/visa.svg', sha_type=256) | slugify }}"></a>&nbsp;
  <a href="https://www.paypal.me/helsinkibachateando/6.50" target="_blank"><img src="assets/paypal.svg?v={{ get_hash(path='static/assets/paypal.svg', sha_type=256) | slugify }}"></a>

<p style="color: #BBB; font-size: 80%;">0.50€ payment processing fee for card & PayPal payments. Use MobilePay to avoid it.

<h3>Employee Benefit</h3>

<p>
  <a href="https://myedenred.fi/affiliate-payment/42a3d20c-4a9d-43e6-aa2f-0db207503b88" target="_blank"><img src="assets/edenred.svg?v={{ get_hash(path='static/assets/edenred.svg', sha_type=256) | slugify }}"></a>

<p style="color: #BBB; font-size: 80%;">The payment is for <a href="https://hbry.fi" target="_blank" style="color: #FFF;">Helsinki Bachateando ry</a>, a non-profit bachata association.
{% endblock content %}
