{% extends "_content.html" %}

{% block content %}
<h3>Free entrance</h3>

We grant free entrance to the normal weekly socials to the following people:

<ul>
<li>Volunteers who take part in organization of the events
<li>Dance teachers who regularly teach 2 hours or more per week of the relevant dance style. For example, bachata teachers get free entrance to events with a bachata room.
</ul>

Note that free entrance to special events and classes will be decided on a case-by-case basis.
{% endblock content %}
